<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:nybatis.configuration:1.1" xsi:schemaLocation="urn:nybatis.configuration:1.1 http://nybatis.github.io/schema/nybatis-config.xsd">

  <properties path="config.properties" />

  <environment id="sqlite01" default="true" >
    <datasourceJdbc poolMin="1" poolMax="1" ping="true" pingCycle="600" >
      <driver>#{driver}</driver>
      <url>#{url}</url>
      <username>1</username>
      <!-- it is possible to set password as plain text -->
      <!-- or to set password as encrypted value (Using org.nybatis.core.util.Encryptor) -->
      <!-- passwordSecretKey can be set as text value itself or URL. -->
      <password>c66586dd415a4fddbaad8a4b1edcdce2</password>
      <passwordSecretKey>secret</passwordSecretKey>
    </datasourceJdbc>
    <sqlPath>
      <path>sqlite</path>
    </sqlPath>
  </environment>

  <environment id="sqlite02" >
    <datasourceJdbc ping="true" pingCycle="60" >
      <driver>#{driver}</driver>
      <url>jdbc:sqlite:#{default.root}/localDb/TestDb02</url>
    </datasourceJdbc>
    <sqlPath>
      <path>sqlite</path>
    </sqlPath>
  </environment>

  <environment id="sqlite03" >
    <datasourceJdbc ping="true" pingCycle="60" >
      <driver>#{driver}</driver>
      <url>jdbc:sqlite:#{default.root}/localDb/TestDb03</url>
    </datasourceJdbc>
    <sqlPath>
      <path>./sqliteSeperated/Sqlite03.xml</path>
    </sqlPath>
  </environment>

  <environment id="jta">
    <datasourceJdbcUnpooled>
      <driver>#{driver}</driver>
      <url></url>
    </datasourceJdbcUnpooled>
  </environment>
  
  <!--<environment id="oracle" >-->
    <!--<datasourceJdbc ping="true" pingCycle="60" >-->
      <!--<driver>oracle.jdbc.driver.OracleDriver</driver>-->
      <!--<url>jdbc:oracle:thin:@172.21.196.27:1521:DEVSP</url>-->
      <!--<username>SPSAC</username>-->
      <!--<password>ompskp1!</password>-->
    <!--</datasourceJdbc>-->
    <!--<sqlPath>-->
      <!--<path>oracle</path>-->
    <!--</sqlPath>-->
  <!--</environment>-->

  <!--<environment id="maria" >-->
    <!--<datasourceJdbc ping="true" pingCycle="60" >-->
      <!--<driver>org.mariadb.jdbc.Driver</driver>-->
      <!--<url>jdbc:mariadb://127.0.0.1:3306:sakila</url>-->
      <!--<username>root</username>-->
    <!--</datasourceJdbc>-->
    <!--<sqlPath>-->
      <!--<path>maria</path>-->
    <!--</sqlPath>-->
  <!--</environment>-->

  <!--<environment id="storeDev" >-->
    <!--<datasourceJdbc>-->
      <!--<driver>oracle.jdbc.driver.OracleDriver</driver>-->
      <!--<url>jdbc:oracle:thin:@172.21.196.27:1521:DEVSP</url>-->
      <!--<username>STORE_DEV</username>-->
      <!--<password>ompskp1!</password>-->
    <!--</datasourceJdbc>-->
    <!--<sqlPath>-->
      <!--<path>./mapper</path>-->
    <!--</sqlPath>-->
  <!--</environment>-->

</configuration>