<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <properties path="config.properties" />

  <cache id="fifo"   class="nayasis.common.cache.fifoCache"   size="512"  flush="60_000" />
  <cache id="lru"    class="nayasis.common.cache.lruCache"    size="1024" />
  <cache id="static" class="nayasis.common.cache.staticCache" />

  <environment id="sqlite" default="true" >
    <datasource type="jdbc" poolMin="1" poolMax="1" ping="true" pingCycle="600" >
      <driver>#{driver}</driver>
      <url>#{url}</url>
    </datasource>
    <sqlpath>
      <path>sqlite</path>
    </sqlpath>
  </environment>

  <environment id="sqliteUnpooled" >
    <datasource type="jdbc" ping="true" pingCycle="60" unpooled="true"  >
      <driver>#{driver}</driver>
      <url>jdbc:sqlite:#{default.root}/localDb/TestDb02</url>
    </datasource>
    <sqlpath>
      <path>sqlite</path>
    </sqlpath>
  </environment>

  <!--<environment id="oracle" >-->
    <!--<datasource type="jdbc" ping="true" pingCycle="60" >-->
      <!--<driver>oracle.jdbc.driver.OracleDriver</driver>-->
      <!--<url>jdbc:oracle:thin:@172.21.196.27:1521:DEVSP</url>-->
      <!--<username>SPSAC</username>-->
      <!--<password>ompskp1!</password>-->
    <!--</datasource>-->
    <!--<sqlpath>-->
      <!--<path>oracle</path>-->
    <!--</sqlpath>-->
  <!--</environment>-->

  <!--<environment id="maria" >-->
  <!--<datasource type="jdbc" ping="true" pingCycle="60" >-->
  <!--<driver>org.mariadb.jdbc.Driver</driver>-->
  <!--<url>jdbc:mariadb://127.0.0.1:3306:sakila</url>-->
  <!--<username>root</username>-->
  <!--</datasource>-->
  <!--<sqlpath>-->
  <!--<path>maria</path>-->
  <!--</sqlpath>-->
  <!--</environment>-->

  <!--<environment id="storeDev" >-->
    <!--<datasource type="jdbc">-->
      <!--<driver>oracle.jdbc.driver.OracleDriver</driver>-->
      <!--<url>jdbc:oracle:thin:@172.21.196.27:1521:DEVSP</url>-->
      <!--<username>STORE_DEV</username>-->
      <!--<password>ompskp1!</password>-->
    <!--</datasource>-->
    <!--<sqlpath>-->
      <!--<path>./mapper</path>-->
    <!--</sqlpath>-->
  <!--</environment>-->

</configuration>